.new-tweet {
  color: #545149;
}
#tweet-text {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 100%;
}

button.tweet-btn {
  background-color: #4056A1;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  /* border: 5px solid red; */
}
.new-btns {
  font-family: "Bungee", sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.tweet-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-bottom: 5px solid #808080;
  padding-bottom: 10px;
}

.new-tweet .neg-counter {
  color: #dd1818;
}

.long-error-msg, .null-error-msg {
  color: #dd1818;
  font-size: 18px;
  border: 2px solid #dd1818;
  padding: 5px;
  margin-bottom: 20px;
  text-align: left;
}
.long-error-msg i, .null-error-msg i {
  padding: 5px;
}
/* .errors {
  display: none;
} */